<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Subjects" asp-action="Index">Subject</a></li>
    <li><a asp-area="" asp-controller="Teachers" asp-action="Index">Teacher</a></li>
    <li><a asp-area="" asp-controller="Students" asp-action="Index">Student</a></li>
</ul>
